 
/* start css.sty */

.FontAwesome--fontawesometwo-x-x-60{font-size:60%;}
.ec-lmr-10x-x-109{font-size:109%;}
.ec-lmr-17x-x-219{font-size:372%;}
.ec-lmtt-10x-x-109{font-size:109%; font-family: monospace;}
.ec-lmtt-10x-x-109{ font-family: monospace;}
.ec-lmtt-10x-x-109{ font-family: monospace;}
.ec-lmtt-10x-x-109{ font-family: monospace;}
.ec-lmtt-10x-x-109{ font-family: monospace;}
.ec-lmtt-10x-x-109{ font-family: monospace;}
.ec-lmtt-10x-x-109{ font-family: monospace;}
.ec-lmtt-10x-x-109{ font-family: monospace;}
.ec-lmtt-10x-x-109{ font-family: monospace;}
.ec-lmr-12x-x-120{font-size:144%;}
.ec-lmbx-10x-x-109{font-size:109%; font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmro-10x-x-109{font-size:109%; font-style: oblique;}
.ec-lmro-10x-x-109{ font-style: oblique;}
.ec-lmro-10x-x-109{ font-style: oblique;}
.ec-lmro-10x-x-109{ font-style: oblique;}
.ec-lmro-10x-x-109{ font-style: oblique;}
.ec-lmro-10x-x-109{ font-style: oblique;}
.ec-lmro-10x-x-109{ font-style: oblique;}
.ec-lmro-10x-x-109{ font-style: oblique;}
.ec-lmro-10x-x-109{ font-style: oblique;}
.ec-lmri-10x-x-109{font-size:109%; font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
div.array {text-align:center;}
.figure img.graphics {margin-left:10%;}
dt.enumerate{float:left; clear:left; margin-right:0.2em; margin-left:2em;}
dt.compactenum{float:left; clear:left; margin-right:0.2em; margin-left:2em;}
span#textcolor2{color:}
span#textcolor3{color:}
span#textcolor4{color:}
span#textcolor5{color:}
span#textcolor6{color:}
span#textcolor7{color:}
span#textcolor8{color:}
span#textcolor9{color:}
span#textcolor9{color:}
span#textcolor10{color:}
span#textcolor11{color:}
span#textcolor12{color:}
span#textcolor13{color:}
span#textcolor14{color:}
span#textcolor14{color:}
span#textcolor15{color:}
span#textcolor16{color:}
span#textcolor17{color:}
span#textcolor18{color:}
span#textcolor19{color:}
span#textcolor19{color:}
span#textcolor20{color:}
span#textcolor21{color:}
span#textcolor22{color:}
span#textcolor23{color:}
span#textcolor24{color:}
span#textcolor24{color:}
span#textcolor25{color:}
span#textcolor26{color:}
span#textcolor30{color:}
span#textcolor31{color:}
span#textcolor35{color:}
span#textcolor39{color:}
span#textcolor40{color:}
span#textcolor41{color:}
span#textcolor44{color:}
span#textcolor45{color:}
span#textcolor45{color:}
span#textcolor46{color:}
span#textcolor47{color:}
span#textcolor48{color:}
span#textcolor49{color:}
span#textcolor50{color:}
span#textcolor51{color:}
span#textcolor52{color:}
span#textcolor53{color:}
span#textcolor54{color:}
span#textcolor55{color:}
span#textcolor55{color:}
span#textcolor56{color:}
span#textcolor57{color:}
span#textcolor58{color:}
span#textcolor59{color:}
span#textcolor60{color:}
span#textcolor61{color:}
span#textcolor62{color:}
span#textcolor63{color:}
span#textcolor63{color:}
span#textcolor64{color:}
span#textcolor65{color:}
span#textcolor72{color:}
span#textcolor76{color:}
span#textcolor79{color:}
span#textcolor80{color:}
span#textcolor80{color:}
span#textcolor81{color:}
span#textcolor82{color:}
span#textcolor83{color:}
span#textcolor84{color:}
span#textcolor85{color:}
span#textcolor86{color:}
span#textcolor87{color:}
span#textcolor88{color:}
span#textcolor89{color:}
span#textcolor90{color:}
span#textcolor91{color:}
span#textcolor92{color:}
span#textcolor93{color:}
span#textcolor94{color:}
span#textcolor95{color:}
span#textcolor96{color:}
span#textcolor97{color:}
span#textcolor98{color:}
span#textcolor99{color:}
span#textcolor100{color:}
span#textcolor101{color:}
span#textcolor102{color:}
span#textcolor103{color:}
span#textcolor104{color:}
span#textcolor104{color:}
span#textcolor105{color:}
span#textcolor106{color:}
span#textcolor107{color:}
span#textcolor108{color:}
span#textcolor109{color:}
span#textcolor110{color:}
span#textcolor110{color:}
span#textcolor111{color:}
span#textcolor112{color:}
span#textcolor113{color:}
span#textcolor114{color:}
span#textcolor114{color:}
span#textcolor115{color:}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:1em;font:inherit;vertical-align:baseline}a{text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}table{border-collapse:collapse;border-spacing:0}body{color:#272727;background:#fff;font-family:'Open Sans', sans-serif;font-size:95%;font-weight:400}h1{margin-bottom:10px;font-size:2em}h2{margin-top:10px;margin-bottom:5px;font-size:1.5em}h3{margin-top:10px;margin-bottom:5px;font-size:1.2em}strong{font-weight:bold}em{font-style:italic}div.picture{float:left;margin-right:20px}div.details{float:left;margin-bottom:20px}@media screen and (min-width: 575px){div.details h1{line-height:0.8}}p{font-size:1em;line-height:150%}a{color:#1A0DAB;text-decoration:none}a:visited{color:#1A0DAB;text-decoration:none}a:hover{background-color:#eee;text-decoration:none}a:active{color:#1A0DAB;text-decoration:none}code{background-color:#EEE;padding:5px;font-family:monospace;display:block}ul{list-style:none}ul li{padding:5px;padding-left:10px}@media screen and (max-width: 600px){ul li{padding:10px 0 10px 0}}blockquote{color:#272727;border-left:4px solid #272727;padding-left:15px;font-size:18px;letter-spacing:-1px;font-style:italic}.wrapper{max-width:600px;margin:auto;padding:60px 30px 60px 30px}@media screen and (max-width: 600px){.wrapper{padding:20px}}.post .date{text-align:right;display:block;color:#AAA}.post .more{text-align:right}.header{display:flex;justify-content:space-between;align-items:baseline;padding-bottom:50px}@media screen and (max-width: 600px){.header{display:block}}.header h1{font-size:2em;margin-bottom:0}.header ul{margin-top:10px}.header ul li{display:inline;padding:0;padding-left:5px}.blog{padding-bottom:30px}.blog h1{font-size:1.4em;margin-bottom:5px}.music{padding-bottom:30px}.music h1{font-size:1.4em;margin-bottom:5px}.music a{padding:5px;padding-left:10px}.post{padding-bottom:30px}.post__title{display:block;margin-top:20px;margin-bottom:6px}.post__title h1{display:inline-block;font-size:1.6em;font-weight:700;padding-right:10px;padding-bottom:2px;text-decoration:none;border-bottom:3px solid #272727}.post__date p{font-size:1em;font-style:italic}.post__content{padding-top:40px}.post__content h1{font-size:1.4em;font-weight:700;margin-top:50px;margin-bottom:10px}.post__content h2{font-size:1.1em;font-weight:700;margin-top:25px;margin-bottom:5px}.post__content p{font-size:1em;line-height:150%;margin-bottom:15px}.post__content a{padding-bottom:1px;border-bottom:1px solid #1A0DAB}.post__content a:hover{background-color:#eee;text-decoration:none}.post__content strong{font-weight:700}.post__content em{font-style:italic}.post__content ul{font-size:1em;list-style:circle;margin-left:30px;margin-top:-10px;margin-bottom:15px}.post__content ul li{padding:5px;padding-left:5px}@media screen and (max-width: 600px){.post__content ul li{padding:10px 0 10px 0}}@media screen and (max-width: 600px){.post__content ul{margin-left:10px}}.post__content img{margin-top:10px;margin-bottom:10px}@media screen and (max-width: 600px){.post__content img{width:100%;margin:auto}}.post__content code{padding:3px;font-size:0.9em;border-radius:3px;background:#eee}.post__content .highlight{margin:10px;margin-bottom:15px;padding:10px;line-height:1.5;border-radius:3px;background:#272727}.post__content .highlight code{color:lime;background:none}.post__content .codebreak{margin:15px;border:0;border-bottom:1px dashed #272727}.about__title{font-size:1.6em;font-weight:700;margin-top:20px;margin-bottom:10px}.about__content{margin-top:20px}.about__content h1{font-size:1.2em;font-style:italic;margin-top:30px;margin-bottom:5px}.about__content p{font-size:1em;line-height:150%;margin-bottom:10px}.publication{margin-bottom:20px}.publication span.booktitle{font-style:italic}.publication .status{font-style:italic}.publication span.title{font-weight:bold}.publication span.journal{font-style:italic}.publication 
/* end css.sty */

